<launch>
   <node pkg="rosbag" type="play" name="rosbag" required="true" args="$(find trackdlo)/data/rope_with_marker_stationary_curved.bag"/>
   <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
     <remap from="image" to="/camera/color/image_raw"/>
   </node>
</launch>