<launch>
  <arg name="eval" default="false"/>
  <node name="realsense_tf" pkg="trackdlo" type="pub_camera_tf.py"/>
  <!-- <node name="tracking_method_ours" pkg="trackdlo" type="trackdlo_node"/> -->

  <!-- To create occlusion manually -->
  <!-- <node name="opencv_interaction" pkg="trackdlo" type="opencv_interactive.py"/> -->

  <!-- tracking rviz file -->
  <group if="$(arg eval)">
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find trackdlo)/rviz/tracking_eval_trackdlo.rviz" />
  </group>

  <group unless="$(arg eval)">
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find trackdlo)/rviz/tracking.rviz" />
  </group>

  <node pkg="rosbag" type="play" name="rosbag" required="true" args="$(find trackdlo)/data/stationary.bag"/>

</launch>