name: build

on:
  push:
    branches: [ 'master' ]

jobs:
  build-linux:
    strategy:
      max-parallel: 5
      matrix:
        os: [ubuntu-latest, ubuntu-22.04, ubuntu-20.04]

    runs-on: ${{matrix.os}}

    steps:
      - name: Checkout TrackDLO repository
        uses: actions/checkout@v3
      - name: Build, test, push base docker (Ubuntu 20.04)
        run: cd docker && docker build -t rmdlo-trackdlo:noetic -f Dockerfile.noetic ..
