name: Build, test and push docker CI

on:
  push:
    branches: [ 'master' ]

jobs:

  build-focal:

    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Build, test, push base docker
      run: docker build -t rmdlo-trackdlo:noetic -f ./docker/Dockerfile.noetic ..

  build-bionic:

    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v3
    - name: Build, test, push base docker
      run: docker build -t rmdlo-trackdlo:noetic -f ./docker/Dockerfile.noetic ..

  build-jammy:

    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Build, test, push base docker
      run: docker build -t rmdlo-trackdlo:noetic -f ./docker/Dockerfile.noetic ..